name: gemini_agent_tools
description: "A new Flutter package project."
version: 0.0.1
homepage:

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^5.0.0
  build_runner: ^2.10.4
  source_gen: ^4.1.1
  analyzer: ^9.0.0

flutter:
